.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}
.box__gEg3 {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding-right: 16px;
  padding-left: 16px;
  flex-column-gap: 0px;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
}
.box__cskxC {
  width: stretch;
  height: wrap;
  max-width: 1104px;
  display: flex;
  flex-direction: column;
}
.box__cskxC > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.box__cskxC > :global(.__wab_flex-container) > *,
.box__cskxC > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 64px;
}
.header:global(.__wab_instance) {
  position: relative;
}
.topSection:global(.__wab_instance) {
  position: relative;
}
.section__y4Oob:global(.__wab_instance) {
  position: relative;
}
.box__hQaXm {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  min-width: 0;
}
.box__hQaXm > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.box__hQaXm > :global(.__wab_flex-container) > *,
.box__hQaXm > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__hQaXm {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__hQaXm > :global(.__wab_flex-container) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 12px);
    height: calc(100% + 12px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__hQaXm > :global(.__wab_flex-container) > *,
  .box__hQaXm > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
    margin-left: 0px;
    margin-top: 12px;
  }
}
.box__wOib8 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
.box__wOib8 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.box__wOib8 > :global(.__wab_flex-container) > *,
.box__wOib8 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 12px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__wOib8 {
    width: 100%;
    min-width: 0;
  }
}
.box__k83Ja {
  font-size: 32px;
  font-weight: 700;
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
  position: relative;
}
.box___6MBAp {
  position: relative;
  color: rgb(150, 153, 158) /* plasmic-token: jBhCqxBbh1U */;
  height: auto;
}
.featureCard___9SyT2:global(.__wab_instance) {
  position: relative;
}
.svg__bhiIe {
  position: relative;
  object-fit: cover;
  width: 48px;
  height: 48px;
}
.svg__rf1EM {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard___4JjqZ:global(.__wab_instance) {
  position: relative;
}
.svg___9PcIz {
  position: relative;
  object-fit: cover;
  width: 48px;
  height: 48px;
}
.svg__cdTgi {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__caXYh:global(.__wab_instance) {
  position: relative;
}
.svg__hf5MA {
  position: relative;
  object-fit: cover;
  width: 48px;
  height: 48px;
}
.svg__xQbBz {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.box__s472Y {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__s472Y {
    width: 100%;
    min-width: 0;
  }
}
.img__jZ710 {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__iJqet {
  position: absolute;
  object-fit: cover;
  left: 0px;
  top: 30%;
  width: 90%;
}
.box___2FAkE {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
  padding: 64px 0px;
}
.box___7IMs6 {
  display: block;
  position: absolute;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  left: 0px;
  top: 50%;
  width: 100%;
  bottom: 0%;
  height: auto;
  background: rgb(5, 5, 5);
}
.box__vaak {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding-right: 16px;
  padding-left: 16px;
  flex-column-gap: 0px;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
}
.box__j8RAk {
  width: stretch;
  height: wrap;
  max-width: 1104px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.section__hOGbm:global(.__wab_instance) {
  align-self: center;
}
.box___3Wk {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 64px;
  min-width: 0;
}
.box___3Wk > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.box___3Wk > :global(.__wab_flex-container) > *,
.box___3Wk > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 20px;
  margin-top: 20px;
}
.featureCard__gcFwU:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__owXrg {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255) /* plasmic-token: f-gSehE0DmLTaa */;
}
.svg__zlIp3 {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__vrRgl:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__xlXp2 {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255) /* plasmic-token: f-gSehE0DmLTaa */;
}
.svg___7RAhk {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__kivds:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__o7JTq {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255) /* plasmic-token: f-gSehE0DmLTaa */;
}
.svg__g4WTf {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard___6Oama:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__isMF {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255) /* plasmic-token: f-gSehE0DmLTaa */;
}
.svg__bddSh {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard___5COqj:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg___33SPi {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255) /* plasmic-token: f-gSehE0DmLTaa */;
}
.svg__ovFhv {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__nmchb:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__vpOOr {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255) /* plasmic-token: f-gSehE0DmLTaa */;
}
.svg__xzSxr {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.box__pvyL5 {
  display: block;
  position: absolute;
  left: 50%;
  top: 95%;
  width: 2px;
  height: 88px;
  flex-shrink: 0;
  border: 1px solid rgb(234, 234, 234) /* plasmic-token: _xpNdecYRkBM90 */;
}
.box__w7Iy4 {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding-right: 16px;
  padding-left: 16px;
  flex-column-gap: 0px;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
}
.box__hLko2 {
  width: stretch;
  height: wrap;
  max-width: 1104px;
  display: flex;
  flex-direction: column;
}
.box__hLko2 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.box__hLko2 > :global(.__wab_flex-container) > *,
.box__hLko2 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 64px;
}
.section__wnsWe:global(.__wab_instance) {
  position: relative;
}
.box__rr2Tn {
  display: flex;
  position: relative;
  flex-direction: row;
}
.box__rr2Tn > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.box__rr2Tn > :global(.__wab_flex-container) > *,
.box__rr2Tn > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 48px;
  margin-top: 24px;
}
.svg__xi77R {
  position: relative;
  object-fit: cover;
  width: 124px;
  height: 24px;
  color: rgb(150, 153, 158) /* plasmic-token: jBhCqxBbh1U */;
  flex-shrink: 0;
}
.svg__lgDWv {
  position: relative;
  object-fit: cover;
  width: 83px;
  height: 30px;
  color: rgb(150, 153, 158) /* plasmic-token: jBhCqxBbh1U */;
  flex-shrink: 0;
}
.svg__tUmdq {
  position: relative;
  object-fit: cover;
  width: 125px;
  height: 39px;
  color: rgb(150, 153, 158) /* plasmic-token: jBhCqxBbh1U */;
  flex-shrink: 0;
}
.svg__dnaLs {
  position: relative;
  object-fit: cover;
  width: 113px;
  height: 30px;
  color: rgb(150, 153, 158) /* plasmic-token: jBhCqxBbh1U */;
  flex-shrink: 0;
}
.svg__i4Djk {
  position: relative;
  object-fit: cover;
  width: 109px;
  height: 33px;
  color: rgb(150, 153, 158) /* plasmic-token: jBhCqxBbh1U */;
  flex-shrink: 0;
}
.testimonial:global(.__wab_instance) {
  position: relative;
}
.homeCta:global(.__wab_instance) {
  position: relative;
}
.footer:global(.__wab_instance) {
  position: relative;
}
